server:
  port: 8084
spring:
  application:
    name: patient-service
  datasource:
    url: jdbc:mysql://localhost:3306/healthcare
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
